body {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    background-position: center;
}

.navbar-brand img {
    width: 60px;
    height: auto;
    margin-right: 5px;
}

.navbar-nav .nav-link {
    color: black;
    margin-right: 15px;
}

.navbar-nav .nav-link:hover {
    background-color: yellow;
    color: black;
    border-radius: 16px;
}

.navbar-toggler {
    border: none;
}

li {
    display: inline-block;
    margin-right: 20px;

}

a {
    color:white;
    text-decoration: none;
    
}

a:hover {
    background-color: yellow;
    color: black;
    border-radius: 46px;
}

.center {
    text-align: center;
}

.container h1 {
    color: white; /* Cambia el color del texto a blanco */
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 400px;
    margin-bottom: 20px;
}

.card .card-img-top {
    width: 398px;
    height: 223.88px;
    object-fit: cover;
}

ul li a {
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

